<section class="experience" id="gallery">
  <div class="container experience-container">
    <h2 class="experience-title">Coffee Moments</h2>
    <p class="experience-subtitle">
      Experience the warmth and community of CoffeeJoy.
    </p>
  </div>
  <div class="experience-wrapper">
    <ul class="experience-list">
      <li class="experience-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="/img/gallery/img-1.jpg 1x, /img/gallery/img-1@2x.jpg 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/img-tab1.jpg    1x,
              /img/gallery/img-tab1@2x.jpg 2x
            "
          />
          <img
            src="/img/gallery/img-mob1.jpg"
            srcset="
              /img/gallery/img-mob1.jpg    1x,
              /img/gallery/img-mob1@2x.jpg 2x
            "
            alt="Cup of coffee"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="experience-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="/img/gallery/img-2.jpg 1x, /img/gallery/img-2@2x.jpg 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/img-tab2.jpg    1x,
              /img/gallery/img-tab2@2x.jpg 2x
            "
          />
          <img
            src="/img/gallery/img-mob2.jpg"
            srcset="
              /img/gallery/img-mob2.jpg    1x,
              /img/gallery/img-mob2@2x.jpg 2x
            "
            alt="Coffee and book table"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="experience-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="/img/gallery/img-3.jpg 1x, /img/gallery/img-3@2x.jpg 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/img-tab3.jpg    1x,
              /img/gallery/img-tab3@2x.jpg 2x
            "
          />
          <img
            src="/img/gallery/img-mob3.jpg"
            srcset="
              /img/gallery/img-mob3.jpg    1x,
              /img/gallery/img-mob3@2x.jpg 2x
            "
            alt="Two cups of coffee"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="experience-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="/img/gallery/img-4.jpg 1x, /img/gallery/img-4@2x.jpg 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/img-tab4.jpg    1x,
              /img/gallery/img-tab4@2x.jpg 2x
            "
          />
          <img
            src="/img/gallery/img-mob4.jpg"
            srcset="
              /img/gallery/img-mob4.jpg    1x,
              /img/gallery/img-mob4@2x.jpg 2x
            "
            alt="Coffee and croissant breakfast"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="experience-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="/img/gallery/img-5.jpg 1x, /img/gallery/img-5@2x.jpg 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/img-tab5.jpg    1x,
              /img/gallery/img-tab5@2x.jpg 2x
            "
          />
          <img
            src="/img/gallery/img-mob5.jpg"
            srcset="
              /img/gallery/img-mob5.jpg    1x,
              /img/gallery/img-mob5@2x.jpg 2x
            "
            alt="Pouring espresso into cup"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="experience-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="/img/gallery/img-6.jpg 1x, /img/gallery/img-6@2x.jpg 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/img-tab6.jpg    1x,
              /img/gallery/img-tab6@2x.jpg 2x
            "
          />
          <img
            src="/img/gallery/img-mob6.jpg"
            srcset="
              /img/gallery/img-mob6.jpg    1x,
              /img/gallery/img-mob6@2x.jpg 2x
            "
            alt="Paper coffee cup on bench"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="experience-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="/img/gallery/img-7.jpg 1x, /img/gallery/img-7@2x.jpg 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/img-tab7.jpg    1x,
              /img/gallery/img-tab7@2x.jpg 2x
            "
          />
          <img
            src="/img/gallery/img-mob7.jpg"
            srcset="
              /img/gallery/img-mob7.jpg    1x,
              /img/gallery/img-mob7@2x.jpg 2x
            "
            alt="Cup of coffee"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
