<footer class="footer">
<div class="container footer-container">
  <a href="index.html" class="footer-logo">
    <svg width="146" height="84">
<use href="/img/sprite.svg#Company-logo"></use>
</svg>
</a>
<ul class="footer-socials">
    <li>
      <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
       <svg width="32" height="32">
        <use href="/img/sprite.svg#icon-Facebook"></use>
       </svg>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
        <svg  width="32" height="32" >
        <use href="/img/sprite.svg#icon-Instagram"></use>
       </svg>
      </a>
    </li>
    <li>
      <a href="https://x.com/" target="_blank" rel="noopener noreferrer">
        <svg  width="32" height="32" >
        <use href="/img/sprite.svg#icon-X"></use>
       </svg>
      </a>
    </li>
  </ul>
  
  <ul class="footer-nav">
    <li><a href="#">About us</a></li>
    <li><a href="#">Benefits</a></li>
    <li><a href="#">Gallery</a></li>
    <li><a href="#">Testimonial</a></li>
    <li><a href="#">Location</a></li>
  </ul>
  
  

</div>
<p class="footer-copy footer-desk">© 2025 CoffeeJoy. All rights reserved.</p>
</footer>
