<!-- header project CoffeeJoy -->
<header class="header-coffee container-coffee">
  <div class="coffee-joy">
    <a class="svg-coffee" href="">
      <svg width="63" height="36">
        <use href="../img/coffeejoy.svg#icon-coffee-joy"></use>
      </svg>
    </a>
    <nav class="nav-coffee">
      <ul class="item-coffee-nav">
        <li class="item-link-coffee">
          <a class="link-coffee" href="">About us</a>
        </li>
        <li class="item-link-coffee">
          <a class="link-coffee" href="">Benefits</a>
        </li>
        <li class="item-link-coffee">
          <a class="link-coffee" href="">Gallery</a>
        </li>
        <li class="item-link-coffee">
          <a class="link-coffee" href="">Testimonial</a>
        </li>
        <li class="item-link-coffee">
          <a class="link-coffee" href="">Location</a>
        </li>
      </ul>
    </nav>
    <button class="burger-coffee" type="button">
      <svg class="burger-icon" width="16" height="12">
        <use href="../img/burger.svg#icon-burger">
        </use>
      </svg>
    </button>
  </div>
</header>