<!-- header project CoffeeJoy -->
<header class="header-coffee">

  <div class="coffee-joy container">
    <a class="svg-coffee" href="../index.html">
      <svg width="63" height="36">
        <use href="../img/icons.svg#icon-icon-logo"></use>
      </svg>
    </a>
    <nav class="nav-coffee">
      <ul class="item-coffee-nav">
        <li class="item-link-coffee">
          <a class="link-coffee" href="№welcome">About us</a>
        </li>
        <li class="item-link-coffee">
          <a class="link-coffee" href="#benefits">Benefits</a>
        </li>
        <li class="item-link-coffee">
          <a class="link-coffee" href="№gallery">Gallery</a>
        </li>
        <li class="item-link-coffee">
          <a class="link-coffee" href="#testimonial">Testimonial</a>
        </li>
        <li class="item-link-coffee">
          <a class="link-coffee" href="#location">Location</a>
        </li>
      </ul>
    </nav>
    <button class="burger-coffee" type="button" data-menu-open>
      <svg class="burger-icon" width="16" height="12">
        <use href="../img/burger.svg#icon-burger">
        </use>
      </svg>
    </button>
  </div>

</header>