<!-- <section>Mobile Menu</section> -->

<div class="mobile-menu" data-menu>
  <div class="container mobile-menu-container">
    <a class="btn-logo" href="./index.html">
      <svg width="63" height="36">
        <use href="./img/icons.svg#icon-icon-logo"></use>
      </svg>
    </a>

    <button type="button" class="menu-close-btn" data-menu-close>
      <svg class="icon-close" width="12" height="12">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>

    <nav class="mobile-menu-nav">
      <ul class="mobile-nav-items">
        <li class="mobile-nav-name">
          <a class="mobile-nav-link" href="#about">About us</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#benefits">Benefits</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#gallery">Gallery</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#testimonial">Testimonial</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#location">Location</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
