<!-- <section>Mobile Menu</section> -->

<div class="mobile-menu" data-menu>
  <div class="container mobile-menu-container">
    <a class="btn-logo" href="./index.html">
      <svg width="63" height="36">
        <use href="./img/icons.svg#icon-icon-logo"></use>
      </svg>
    </a>

    <button class="mobile-menu-close" data-menu-close>
      <svg class="icon-close" width="24" height="24">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>

    <!-- <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M16.192 6.34424L11.949 10.5862L7.70697 6.34424L6.29297 7.75824L10.535 12.0002L6.29297 16.2422L7.70697 17.6562L11.949 13.4142L16.192 17.6562L17.606 16.2422L13.364 12.0002L17.606 7.75824L16.192 6.34424Z" fill="#0B0803" />
</svg> -->

    <nav class="mobile-menu-nav">
      <ul class="mobile-nav-items">
        <li class="mobile-nav-name">
          <a class="mobile-nav-link" href="#">About us</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#">Benefits</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#">Gallery</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#">Testimonial</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#">Location</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
