<section class="subscribe">
    <div class="container">
        <div class="subscribe-container">

        <div class="subscribe-content">

            <h2 class="subscribe-title">
                Join our coffee community
            </h2>

            <p class="subscribe-text">
                Experience the joy of coffee delivered right to your door. Sign up today!
            </p>

            <form class="subscribe-form">

                <label class="subscribe-label visually-hidden" for="email">
                    Email
                </label>

                <input class="subscribe-input" type="email" name="email" id="email" placeholder="Your Email Here"
                    required />

                <button class="subscribe-btn" type="submit">
                    Subscribe
                    <svg class="subscribe-icon">
                        <use href="/img/icons.svg#icon-subscribe"></use>
                    </svg>
                </button>


            </form>

            <p class="subscribe-terms">
                By clicking Get Started, you agree to our Terms and Conditions.
            </p>
        </div>

        <div class="subscribe-image-wrapper">
            <img class="subscribe-image" src="/img/subscribe/subscribe.jpg" srcset="
                /img/subscribe/subscribe.jpg 1x,
                /img/subscribe/subscribe@2x.jpg 2x
              " alt="People working with coffee" />
        </div>

    </div>
</section>