<section class="welcome section" id="welcome">
  <div class="container welcome-cont">
    <div class="welcome-container">
      <div class="welcome-content">
        <div class="welcome-left">
          <h3 class="welcome-subtitle">Welcome</h3>
          <h2 class="welcome-title">
            OUR JOURNEY:<br class="mobile-break" />
            PASSION FOR<br class="mobile-break" />
            QUALITY<br class="mobile-break" />
            COFFEE
          </h2>
        </div>
        <div class="welcome-right">
          <div class="welcome-text">
            <p>
              At CoffeeJoy, we believe that every cup tells a story. Our mission
              is to bring you the finest coffee experiences, crafted with care
              and dedication. We are committed to sourcing high-quality beans
              and roasting them to perfection, ensuring each sip is a delight.
            </p>
          </div>

          <a href="#location" class="find-location">
            Find Location
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-icon-map-pin"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="welcome-media">
        <img
          class="welcome-image"
          src="./img/coffee-welcome-1x.jpg"
          srcset="
            ./img/coffee-welcome-1x.jpg 1x,
            ./img/coffee-welcome-2x.jpg 2x
          "
          sizes="90vw"
          alt="Coffee pouring with filter and coffee beans"
        />
      </div>
    </div>
  </div>
</section>
