:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* Colors - З макета CoffeeJoy */
  --primary-text-color: #2e2f42;   /* Основний темний */
  --accent-color: #434455;         /* Для описів та тексту */
  --white-color: #ffffff;
  --bg-color: #f4f4fd;             /* Світлий фон секцій */
  --brand-color: #4d5ae5;          /* Акцентний колір (кнопки/посилання) */

  
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  
  color: var(--primary-text-color);
  background-color: var(--white-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* ======================== RESET & BASE ======================== */

body {
  margin: 0;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--secondary-font); /* Raleway для заголовків */
  color: var(--primary-text-color);
  margin: 0;
  font-weight: 700;
}

p {
  margin: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

img {
  display: block;
  max-width: 100%;
  height: auto; /* Для Retina та адаптивності */
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}

/* ======================== UTILS ======================== */

/* Для прихованих заголовків секцій (ТЗ п.6) */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}