/* =========================== SECTION FOOTER =========================== */
   

.footer {
  padding: 40px 0; /* Базовий відступ для мобілки */
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Структурний контейнер (Flexbox) для всього футера */
}

.footer-link {
  position: relative; /* Необхідно для позиціювання декору */
}

/* Декоративний акцент під посиланнями — складна частина, яку задає TL */
.footer-link::before {
  content: '';
  position: absolute;
  bottom: 0;
}


@media screen and (min-width: 768px) {
  .footer {
    padding: 60px 0; /* Збільшений відступ для планшетів */
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    padding: 80px 0;
  }
}
