.header-coffee {
  background-color: #E0CBB4;
}

.svg-coffee {
  margin: 18px 0;
  width: 84px;
}

.coffee-joy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-coffee {
  display: none;
}

.burger-coffee {
  padding: 0;
  border: none;
  background-color: rgba(224, 203, 180, 1);
}

.burger-icon {
  display: block;
  fill: rgba(11, 8, 3, 1);
}

.button {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .coffee-joy {
    padding: 18px 64px;
  }

  .svg-coffee {
    margin: 0;
  }

  .burger-coffee {
    display: none;
  }

  .nav-coffee {
    display: flex;
  }

  .item-coffee-nav {
    display: flex;
    gap: 32px;
    padding: 6px 0;
  }

  .link-coffee {
    color: rgba(11, 8, 3, 1);
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    font-family: "Quicksand";
  }
}