.headline-section {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../img/fon-mobile1x.jpg);
}

@media (min-resolution: 192dpi) {
    .headline-section {
        background-image: url(../img/fon-mobile2x.jpg);
    }
}

.main-container {
    padding: 108px 32px;
}

.headline {
    color: rgba(255, 255, 255, 1);
    font-size: 40px;
    line-height: 120%;
    text-align: left;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Aboreto", sans-serif;
    font-style: normal;
    margin-bottom: 24px;
}

.main-text {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    line-height: 150%;
    text-align: left;
    width: 100%;
    font-family: "Quicksand";
    font-style: normal;
    margin-bottom: 32px;
}

.button-learn {
    border-radius: 100px;
    width: 135px;
    height: 44px;
    background-color: rgba(111, 78, 55, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    font-weight: 500;
    display: inline-block;
    border: none;
    cursor: pointer;
    padding: 10px 24px;
    font-family: "Quicksand";
    box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
}

.button-learn:focus,
.button-learn:hover {
    box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    opacity: 0.5;
}

.button-learn:active {
    background: rgba(11, 8, 3, 0.1);
    color: rgb(11, 8, 3);
}

@media only screen and (min-width: 768px) {
    .headline-section {
        background-image: url(../img/fon-tablet1x.jpg);
    }


    @media (min-resolution: 192dpi) {
        .headline-section {
            background-image: url(../img/fon-tablet2x.jpg);
        }
    }


    .main-container {
        width: 100%;
        padding: 312px 176px 312px 32px;
    }
}

@media only screen and (min-width: 1440px) {
    .headline-section {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)),
            url(../img/fon-desktop1x.jpg);
    }

    @media (min-resolution: 192dpi) {
        .headline-section {
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.5)),
                url(../img/fon-desktop2x.jpg);
        }
    }


    .main-container {
        padding: 259px 816px 259px 64px;
    }

    .headline {
        font-size: 56px;
        text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
}