.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: 100%;
  background-color: #e0cbb4;
  /* opacity: 0; visibility: hidden; pointer-events: none; transition: opacity
250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2,
1); z-index: 999; */
} /* .mobile-menu.is-open { opacity: 1; visibility:
visible; pointer-events: auto; } */
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.btn-logo {
  position: absolute;
  top: 18px;
  left: 16px;
  padding: 0px 10px;
}
.mobile-menu-close {
  position: absolute;
  min-height: 48px;
  min-width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  top: 12px;
  right: 16px;
  /* padding: 12px; */
  background-color: transparent;
}
@media (min-width: 768px) {
  .mobile-menu-close {
    display: none;
  }
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
  background-color: #c29d84;
  border-radius: 50%;
}
.mobile-nav-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.mobile-nav-link {
  color: var(--color-scheme-1-text);
}
