.quality-page {
  background-color: #e0cbb4;
  padding: 64px 0;
}

.quality-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quality-section-label {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #0b0803;
  margin-bottom: 16px;
}

.quality-page-title {
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #0b0803;
  margin-bottom: 24px;
}

.quality-page-subtitle {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #0b0803;
  margin-bottom: 32px;
}

.quality-page-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.quality-page-item {
  width: 100%;
}

.quality-page-list img {
  object-fit: cover;
  display: block;
  border-radius: 32px;
  margin: 0 auto;
}

.quality-page-item-title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #0b0803;
  margin-top: 32px;
  width: 100%;
}

.quality-page-item-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #0b0803;
  margin-top: 8px;
}

@media only screen and (min-width: 768px) {
  .quality-page > .quality-page-container {
    padding: 0 32px;
  }

  .quality-page-title {
    max-width: 452px;
  }

  .quality-page-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .quality-page-coffee-item-title {
    max-width: 284px;
    margin: 0 auto;
    margin-top: 32px;
  }

  .quality-page-coffee-item-text {
    max-width: 294px;
    margin: 0 auto;
    margin-top: 8px;
  }

  .card-three {
    grid-column: span 2;
  }

  .quality-page-atmosphere-item-text {
    max-width: 440px;
    margin: 0 auto;
    margin-top: 8px;
  }
}

@media only screen and (min-width: 1440px) {
  .quality-page > .quality-page-container {
    padding: 0 64px;
  }

  .quality-page-title {
    font-size: 48px;
    max-width: 768px;
  }

  .quality-page-subtitle {
    max-width: 768px;
  }

  .quality-page-list {
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(3, 1fr);
  }

  .quality-page-coffee-item-title {
    max-width: none;
  }

  .quality-page-coffee-item-text {
    max-width: none;
  }

  .quality-page-atmosphere-item-text {
    max-width: none;
  }
}
