/* =========================== TESTIMONIALS SECTION =========================== */
 .reviews {
  background-color: #f1e4d1;
  padding-top; 40px;
  padding-bottom: 40px;



   
.reviews-title{
  color: #0B0803;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}

.reviews-list{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.review-item{
  border: 1px solid rgba(11, 8, 3, 0.15);
  background-color: #C29D84;
  border-radius: 32px;
  padding: 32px;
}

.review-rating{
  display: flex;
  gap: 4px;
  margin-bottom: 24px;
}

.icon-star {
  fill: transparent;
  stroke: #0B0803;
  stroke-width: 1px;
}

.icon-star.filled {
  fill: #0B0803;
  stroke: none;
}

.review-text{
  color: #0B0803;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 38px;
}

.review-author{
  color: #0B0803;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container{
    padding: 0 32px;
  }
  .reviews-list{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .review-item{
    display: flex;
    flex-direction: column;
    max-width: 340px;
    flex-basis: calc((100% - 24px) / 2);
  }
  .text-block {
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
  }
  .review-author {
    margin-top: auto;
    font-weight: bold;
  }
}


/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container{
    padding: 0 64px;
  }
.reviews-title {
    font-size: 48px;
    max-width: 416px;
}
.review-item {
    max-width: 310px;
    flex-basis: calc((100% - 72px) / 4);

  }

}
