/* =========================== WELCOME SECTION =========================== */

.welcome {

  padding-top: var(--section-padding-mobile);
  padding-bottom: var(--section-padding-mobile);
  background-color: var(--white-color);
}

.welcome-container {
  /* Центруємо весь контент секції */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.welcome-subtitle {
  /* Маленький заголовок над основним */
  color: var(--accent-color);
  font-family: var(--secondary-font);
  text-transform: uppercase;
  margin-bottom: var(--element-margin-small);
}

.welcome-title {
  /* Головний заголовок секції */
  color: var(--primary-text-color);
  margin-bottom: var(--element-margin-medium);
}

.welcome-text {
  /* Опис, обмежуємо ширину для зручності читання */
  max-width: var(--form-max-width);
  margin-bottom: var(--element-margin-large);
}

/* RESPONSIVE ЛОГІКА */

@media screen and (min-width: 768px) {
  .welcome {
    padding-top: var(--section-padding-tablet);
    padding-bottom: var(--section-padding-tablet);
  }
}

@media screen and (min-width: 1440px) {
  .welcome {
    padding-top: var(--section-padding-desktop);
    padding-bottom: var(--section-padding-desktop);
  }
}